@use "../variables" as *;
@use "../utils" as *;
@use "../mixins" as *;

.featured-destinations {
  @extend %wrapper;
  text-align: center;
  padding: 0 pxToRem(16);
  // margin-bottom: pxToRem(86);


  @include tablet {
    padding: 0;
  }

  &__intro-title {
    font-family: "Literata", serif;
    font-size: pxToRem(42);
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: pxToRem(-2.04);
    color: $color-primary-dark;

    @include tablet {
      font-size: pxToRem(68);
      line-height: 1.06;
    }
  }

  &__intro-text {
    color: $color-gray-dark;
    font-size: pxToRem(16);
    font-weight: 400;
    line-height: 1.31;
  }

  // build out your mobile first styling here
  &__image-grid {
    margin: pxToRem(24) 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: pxToRem(32);

  }


  &__image-card {
    display: flex;
    flex-direction: column;

    @media (min-width: 760px) {
      margin-left: 80px;
      margin-right: 80px;
    }

  }

  &__image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap);


    &__image,
    &__main-image {
      display: block;
      padding: 4px;
      width: 100%;
      height: auto;

      object-fit: cover;
      box-sizing: border-box;
      border-radius: 30px;


    }

    // tablet media query ----------------------------------
    @media (min-width: 760px) {

      display: flex;
      flex-wrap: wrap;
      --gap: 16px;
      gap: var(--gap);

      &__main-image {
        width: 100%;
      }

      img:nth-last-of-type(-n+3) {

        flex: 1 1 calc((100% - 2 * var(--gap)) / 3);
        max-width: calc((100% - 2 * var(--gap)) / 3);
        aspect-ratio: 1/1;
        object-fit: cover;


      }
    }

    .desktop-img-row {
      border: red 4px solid;
    }

    // desktop media query ---------------------------------
    @media (min-width: 1200px) {
      border: black solid 5px;
      display: none;





    }
  }





  &__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__image, &__main-image{
      display: none;

    }

    @media (min-width: 1200px) {
      display: flex;
      height: 500px;
      overflow: hidden;
      flex-direction: column;
      flex-wrap: wrap;
      --gap: 16px;
      gap: var(--gap);


      &__image {
        max-width: 100%;
        max-height: 100%;
        width: 15%;
        display: block;
        min-width: 0;
        min-height: 0;
        border-radius: 30px;
        flex: 1 1 calc((100% - 2 * var(--gap)) / 3);
        max-width: calc((100% - 2 * var(--gap)) / 3);
        aspect-ratio: 1/1;

      }

       &__main-image {
        flex: none;
        max-width: none;
        aspect-ratio: none;
        width: 50%;
        
      }
    }


  }

  &__title {
    color: $color-accent;
    font-size: pxToRem(24);
    font-weight: 700;
    margin: pxToRem(32) 0 pxToRem(8) 0;
  }

  &__vibes-wrapper {

    gap: pxToRem(16);
  }

  &__vibe {
    display: inline-flex;
    text-decoration: none;
    color: $color-white;
    font-size: pxToRem(14);
    font-weight: 700;
    border-radius: 32px;
    padding: pxToRem(4) pxToRem(8);
    background: $color-primary-dark;
  }

  &__price {

    color: $color-text-dark;
    font-size: pxToRem(22);
    font-weight: 700;
    margin: 0;
  }

  &__description {
    text-align: left;
    color: $color-gray-dark;
    font-size: pxToRem(16);
    line-height: 1.31;
    margin: 0 0 pxToRem(8) 0;
  }

  &__button {
    display: inline-flex;
    text-decoration: none;
    color: $color-white;
    font-size: pxToRem(14);
    font-weight: normal;
    border-radius: 5px;
    border-style: none;
    padding: pxToRem(6) pxToRem(12);
    background: $color-primary-dark;
    position: relative;
    right: -30px;


  }

}