@use "../variables" as *;
@use "../utils" as *;
@use "../mixins" as *;

.featured-destinations {
  @extend %wrapper;
  text-align: center;
  padding: 0 pxToRem(16);
  // margin-bottom: pxToRem(86);
  

  @include tablet {
    padding: 0;
  }
  &__intro-title {
    font-family: "Literata", serif;
    font-size: pxToRem(42);
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: pxToRem(-2.04);
    color: $color-primary-dark;
    @include tablet {
      font-size: pxToRem(68);
      line-height: 1.06;
    }
  }
  &__intro-text {
    color: $color-gray-dark;
    font-size: pxToRem(16);
    font-weight: 400;
    line-height: 1.31;
  }
                            // build out your mobile first styling here
  &__image-grid {
    margin: pxToRem(24) 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: pxToRem(32);
    
    
    @include tablet {
    }

    // @include desktop {
    //   display: flex;
    // flex-direction: column;
    // width: 100%;
    // }
  }
  &__link {
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    
    // @include tablet {
    //   width: calc(33.333% - pxToRem(32));
    // }

    // @include desktop {
      
    //   display: block;
      
    // }
  }
  &__image-card {
    display: flex;
    flex-direction: column;
    
  }
  &__image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   


  }
  &__image {
    padding: 5px;
    
    width: 50%;
    border-radius: 30px;
    
  }

    &__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
  } 
  &__title {
    color: $color-accent;
    font-size: pxToRem(24);
    font-weight: 700;
    margin: pxToRem(32) 0 pxToRem(8) 0;
  }

 &__vibes-wrapper {
    
    gap: pxToRem(16);
  }
  &__vibe {
    display: inline-flex;
    text-decoration: none;
    color: $color-white;
    font-size: pxToRem(14);
    font-weight: 700;
    border-radius: 32px;
    padding: pxToRem(4) pxToRem(8);
    background: $color-primary-dark;
  }

  &__price {
    
    color: $color-text-dark;
    font-size: pxToRem(22);
    font-weight: 700;
    margin: 0;
  }

  &__description {
    text-align: left;
    color: $color-gray-dark;
    font-size: pxToRem(16);
    line-height: 1.31;
    margin: 0 0 pxToRem(8) 0;
  }
  
  &__button {
    display: inline-flex;
    text-decoration: none;
    color: $color-white;
    font-size: pxToRem(14);
    font-weight: normal;
    border-radius: 5px;
    border-style: none;
    padding: pxToRem(6) pxToRem(12);
    background: $color-primary-dark;
    position: relative;
    right: -30px;

  }

 
}
