@use "../mixins" as *;
@use "../variables" as *;

.enrollment-page {
  &__header {
    background-color: $color-primary-dark;
  }

  &__hero {
    background-image: url("../../../assets/images/contact-page-banner.jpg");
    background-size: cover;

    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__h1 {
      color: white;
    }

    &__p {
      color: white;
    }
  }

  &__form-page {
    padding-top: 30px;
    background-color: $color-accent;
    justify-content: flex-start;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    height: 1000px;

    &__form {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      &__checkbox {
        max-width: 500px;
      }

      &__destination_form {
         justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
        // label {

        // }
      }
    }

    &__form label {
      color: white;
    }
    &__form input {
        width: 500px;
    }

    &__form select {
        width: 500px;
    }

    

    }
  }


.error {
  @include errormessage;
}

#errorBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears on top */
}
